<div class="title">
    <H1>INFORMACION DE INSTITUCION</H1>
</div>

<div class="cabecera"> 

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>ANDA</mat-card-title>
        <mat-card-subtitle>Para mejorar la vida de los animales salvajes y domesticos</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://scontent.fsrz1-1.fna.fbcdn.net/v/t39.30808-6/308587717_460151989486949_688210105446901557_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=N9XxuaeEbL4AX_5iw9x&_nc_ht=scontent.fsrz1-1.fna&oh=00_AfAftKxlZHhFVWA-r6YjzjYAPL4MIrwzXOGEvjNk5cZ9Wg&oe=639ADC82" alt="Photo of campa" height="400">
      <mat-card-content>
        
        <br><br> <P>¿QUIÉNES SOMOS?</P>

        <p> <br>
          

          ANDA,  Asociación Nacional para la Defensa de los Animales, se funda en 1989 con el objetivo de la protección animal, especialmente perros y gatos abandonados. Sin embargo, entre los componentes de ANDA pronto surgió la necesidad de ampliar el campo de actuación hacia otros animales normalmente olvidados a quien nadie se dedicaba a proteger: los utilizados en la tauromaquia, en las terribles fiestas populares, los animales de granja, incluidos los empleados en peletería, los animales de laboratorio y los utilizados en zoos y circos.
          
          Para proteger los intereses de estos animales de abasto y salvajes, ni siquiera existía ningún tipo de  legislación, por lo que era necesario ponerse a trabajar en este sentido. El primer paso fue afiliarse a otras organizaciones extranjeras con más experiencia en este campo, como por ejemplo la Real Sociedad para la Prevención de la Crueldad contra los Animales, RSPCA, la más antigua del Reino Unido. Con posterioridad, se inicia la colaboración con otras asociaciones españolas y extranjeras, siempre buscando a los mayores expertos en cada campo, en la firme creencia de que la colaboración entre las asociaciones es la clave del éxito.
          ANDA es una de las asociaciones españolas miembro del Eurogroup for Animals, en Bruselas, que agrupa a las asociaciones más importantes de la UE y trabaja directamente con todas las instituciones europeas para tratar de influir en que las decisiones políticas que puedan afectar al bienestar de los animales sean lo más favorables posible. La Unión Europea tiene plenas competencias en la protección de los animales domésticos, de granja, laboratorio y la vida silvestre.

          La creación en estos campos de normas europeas de obligada aplicación en España ha sido clave para que nuestro país avanzase en la protección animal. Disponemos de una amplia legislación de protección animal en cuyo desarrollo ANDA siempre ha participado de una forma activa obteniendo grandes logros como por ejemplo: leyes de protección animal para las gallinas, terneros, ganado porcino, transporte y aturdimiento previo al sacrificio animal. Son campos en los que a pesar de los avances, seguimos trabajando puesto que queda mucho camino por recorrer, hasta que esta legislación sea totalmente respetada en España.

        </p>
      </mat-card-content>

      <br>
      
<div class="botones">
<br>
  <button mat-stroked-button color="personal" routerLink="/form" >DONAR</button>
  <a mat-stroked-button color="personal" href="https://api.whatsapp.com/send?phone=59170777920" target="_blank">CONTACTANOS</a>
  <a mat-stroked-button color="personal" href="https://goo.gl/maps/45XqwoqDhKXAmx2AA" target="_blank">UBICACION</a>
  <button mat-stroked-button color="personal" routerLink="/front" >INICIO</button>
  
</div> <br>

    </mat-card>
    
</div>
