
<div class="title">
    <H1>ADMINISTRADOR DE DONACIONES</H1>
</div>

<div class="botones">

    <button mat-stroked-button color="personal" routerLink="/form" >DONAR</button>
    <button mat-stroked-button color="personal" routerLink="/agregar" >REGISTROS</button>
    <button mat-stroked-button color="personal" routerLink="/contacto" >NOSOTROS</button>
    <button mat-stroked-button color="personal" routerLink="/agregar" >ADMINISTRADOR</button>
    
</div> <br>


<div class="form1">

    <mat-card>
      <mat-card-content>  El planeta, nuestro único hogar, está bajo asalto como nunca antes. Los humanos están acelerando la extinción y 
        alterando el mundo natural a un «ritmo sin precedentes». Los animales salvajes y domesticos son víctimas inocentes
        de la crueldad y el sufrimiento. Solo sobrevive uno de cada diez que son sacados de su hábitat o que nacen en
        condicion de calle.</mat-card-content>
    </mat-card>
    
  
</div>



<div class="Imagen">

    <br>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>NEKO</mat-card-title>
          <mat-card-subtitle>Refugio de gatos</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://newses.cgtn.com/n/BfJAA-DAA-GEA/BIAccIA.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p><br>
            Buscando respeto para los gatos sin hogar, busca convertirse en una organización dedicada
             a la esterilización y castración de los gatos de los techos, abandonados y de familias de escasos
              recursos, a través del programa de Capturar-Esterilizar-Liberar utilizado en otros países del 
              mundo para lograr un eficiente control de la fauna felina callejera. Queremos lograr un cambio 
              en la visión de la población y hacer que ésta deje de ver a los gatos techeros como plagas y 
              eviten la utilización de venenos u otros métodos de eliminación inhumanos, para entender así
               la utilidad de los gatos sin hogar y la manera de convivir armónicamente con ellos.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="personal" routerLink="/form" >DONAR</button>
          <a mat-stroked-button color="personal" href="https://www.facebook.com/Neko.gatos.sin.hogar/" target="_blank">VISITANOS</a>
          <a mat-stroked-button color="personal" href="https://api.whatsapp.com/send?phone=59170777920" target="_blank">CONTACTO</a>
          <a mat-stroked-button color="personal" href="https://goo.gl/maps/8pVbumRvFcKz6qiE7" target="_blank">UBICACION</a>
        </mat-card-actions>
      </mat-card>
      
      <mat-card class="example-card_1">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>PATITAS DESCALSAS</mat-card-title>
          <mat-card-subtitle>Refugio de animales domesticos</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://elcomercio.pe/resizer/A877dyzFn6Vksj7EbEjv81Iej5U=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/UIONYH5FVNCC7FOEE4QYMCRPEE.jpg" alt="Photo of Patitas Descalzas" height="255">
        <mat-card-content>
          <p><br>
            Grupo de amigos de los animales sin fines de lucro compuesta por un grupo de 
            jovenes unidos por el amor hacia los animales. Con nuestra labor buscamos atacar el problema de los animales abandonados y maltratados 
            desde dos frentes: por un lado, ayudando a rescatar perros y gatos para después buscarles hogares 
            adoptivos responsables y, por el otro, sensibilizando y concientizando a las personas, haciéndoles 
            ver que todos somos parte de la solución. Parte importante de nuestra tarea concientizadora consiste 
            en organizar campañas de esterilización y difundir las ventajas de este procedimiento para nuestros 
            animales de compañía
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="personal" routerLink="/form" >DONAR</button>
            <a mat-stroked-button color="personal" href="https://www.facebook.com/Patitas-Descalzas-Todos-por-una-misma-causa-1444466549154115/" target="_blank">VISITANOS</a>
            <a mat-stroked-button color="personal" href="https://api.whatsapp.com/send?phone=59170777920" target="_blank">CONTACTO</a>
            <a mat-stroked-button color="personal" href="https://goo.gl/maps/c8zfv9w47Mp4qbnR8" target="_blank">UBICACION</a>
        </mat-card-actions>
      </mat-card>

      
      <mat-card class="example-card_2">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>AGROFLORI</mat-card-title>
          <mat-card-subtitle>Refugio de animales silvestres</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://i0.wp.com/revistapuntobo.com/wp-content/uploads/2020/10/puntobo_agroflori.jpg?w=1200&ssl=1" alt="Photo of Agroflori" height="255">
        <mat-card-content>
          <p><br>
            El tráfico de animales silvestres, es una realidad en nuestro país, 
           las instituciones sancionan a los infractores, pero, ¿qué pasa con los anímales 
            decomisados? Encontrados en malas condiciones, heridos y sin posibilidad 
            de volver a su hábitat. Ahí es como llegan a este Refugio llamado Agroflori, un lugar 
            que les da una segunda oportunidad. La meta es convertirse en un centro científico 
            que pueda reproducir animales en peligro de extinción y poder integrarlos a su hábitat 
            natural, que sea un referente a nivel mundial de enseñanza. Que todas las personas puedan ir a aprender,
             además de integrar en los pénsum de colegios y universidades educación 
             ambiental en todos los niveles.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="personal" routerLink="/form" >DONAR</button>
            <a mat-stroked-button color="personal" href="https://revistapuntobo.com/agroflori-el-amor-de-una-segunda-oportunidad-a-los-animales/" target="_blank">VISITANOS</a>
            <a mat-stroked-button color="personal" href="https://api.whatsapp.com/send?phone=59170777920" target="_blank">CONTACTO</a>
            <a mat-stroked-button color="personal" href="https://goo.gl/maps/nt6QEdaJVUiRYgtT6" target="_blank">UBICACION</a>
        </mat-card-actions>
      </mat-card>


      <mat-card class="example-card_3">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>SENDA VERDE</mat-card-title>
          <mat-card-subtitle>Refugio de animales silvestres</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.laregion.bo/wp-content/uploads/2017/04/VER_4429.jpg" alt="Photo of Seda Verde" height="255">
        <mat-card-content>
          <p><br>
            Se estableció en 2003 en la región subtropical al este de los Andes bolivianos en América del Sur. 
            Preocupados por la urgente necesidad de hacer algo a favor del mundo natural,
            decidimos tomar acción, dedicar energía, esfuerzo, pasion y trabajo a esa noble e inspiradora tarea.
            Senda Verde existe para salvar y albergar animales rescatados del tráfico ilegal y la destrucción
             de hábitats, e inspirar a las personas a valorar la naturaleza en todas sus formas. Guiados por el propósito de crear un planeta 
             más saludable, nuestra visión es un mundo más rico en naturaleza donde prospera la vida silvestre y todos los seres vivos tengamos
             la misma oportunidad  y derecho de coexistir.
          </p>
        </mat-card-content>
        <mat-card-actions>
  
          <button mat-stroked-button color="personal" routerLink="/form" >DONAR</button> 
          <a mat-stroked-button color="personal" href="https://sendaverde.org/es/about-us/" target="_blank">VISITANOS</a>
          <a mat-stroked-button color="personal" href="https://api.whatsapp.com/send?phone=59170777920" target="_blank">CONTACTO</a>
          <a mat-stroked-button color="personal" href="https://goo.gl/maps/MssJ1LZe6gr8UjLb6" target="_blank">UBICACION</a>

        </mat-card-actions>
      </mat-card>


</div>


